#appcontent{
    background-color: #ecf0f1;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.hr-text {
    background-color: transparent;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text.title {
    font-family: -webkit-body;
    font-size: 30px;
    font-style: italic;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.is-primary-color {
    background: #aa5490 !important;
}

.is-primary-color .modal-card-title {
    color: #fff !important;
}

.width-100 {
    width: 100%;
}

.breadcrumb span {
    color: #aa5490;
}

div.is-gap {
    margin-top: 1.5rem;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

button.dt-button {
    border-radius: 290486px !important;
    background-color: white !important;
}

.paginate_button {
    border-color: #dee2e5 !important;
    border-radius: 290486px !important;
}

.paginate_button.current {
    color: #fff !important;
    background: #aa5490;
    border-color: #aa5490;
}

.button.is-rounded.is-table {
    padding-right: 1.25em;
    padding-left: 1.25em;
}

table.cards thead {
    display: none;
}

table.cards tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

table.cards tbody tr {
    margin: 0.5%;

    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    /* width: 25%; */

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

table.cards tbody td {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    border-right: 0.125rem solid rgba(10, 10, 10, 0.1);
    border-left: 0.125rem solid rgba(10, 10, 10, 0.1);
    border-top: none;
    border-bottom: none;
}

table.cards tbody td:first-child {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-top: 0.125rem solid rgba(10, 10, 10, 0.1);
}

table.cards tbody td:last-child {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-bottom: 0.125rem solid rgba(10, 10, 10, 0.1);
}

table.cards tbody td {
    /* margin: 0; 
height: 10rem; */
    text-align: -webkit-center;
}

table.cards tbody td img {
    max-height: 75px;
    width: auto;
}